body {
    text-align: center;
    background-image:url(./pexels-mikebirdy-114820.jpg);
  }

  #text-holder-hold{
    display: flex;
    justify-content: center;
  }

  #text-holder{
    background-image: url(./pexels-fwstudio-33348-172276.jpg);
    width: 475px;
    height: 65px;
    border-radius:10px;
  }

  h1 {
    font-size: 3rem;
    margin: 0;

    padding: 0;
    background: linear-gradient(#ca8452, rgb(172, 124, 28)), url(./pexels-fwstudio-33348-172276.jpg);
    background-clip: text;
    color: transparent;
    display: inline-block;
    border: ridge thick darkkhaki;
    border-radius: 10px;
    font-family: "Arvo", cursive;
    position: relative;
    top: 1px;
  }
  
  footer {
    color: #DBEDF3;
    font-family: sans-serif;
  }
  #set-holder{
    display: flex;
  }
  .set {
    text-align: center;
    position: relative;
    top: 50px;
    margin: 10px auto;
    display: flex;
    gap: 5px;
    flex-direction: column;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }
  
  .instrument {
    outline: none;
    font-size: 40px;
    font-family: 'Arvo', cursive;
    line-height: normal;
    font-weight: 900;
    color: #dcf02e;
    border: ridge thick darkkhaki;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
  }

  .instrument:hover{
    background-color: #ca8452;
  }

  .instrument:active{
    background-color: #ca8452 !important; 
  }
  .instrument:focus {
    background-color: #ca8452 !important;
  }
  