body {
    text-align: center;
    background-image:url(./pexels-mikebirdy-114820.jpg);
  }

  img{
    border-radius: 9px;
    background-color: #CD7F32;
    width: 55px;
    height: 55px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 6px;
  }

  #text-holder-hold{
    display: flex;
    justify-content: center;
    position: relative;
    top: 3px;
  }

  #text-holder{
    background-image: url(./pexels-fwstudio-33348-172276.jpg);
    width: 455px;
    height: 58px;
    border-radius:10px;
  }

  h1 {
    width: 450px;
    font-size: 3rem;
    margin: 0;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    background: linear-gradient(#ca8452, rgb(255, 178, 23)), url(./pexels-fwstudio-33348-172276.jpg);
    background-clip: text;
    color: transparent;
    display: inline-block;
    border: ridge thick #F0E68C;
    border-radius: 10px;
    position: relative;
    right: 1px;
    top: 0px;
  }
  
  footer {
    color: #DBEDF3;
    font-family: sans-serif;
  }
  #set-holder{
    display: flex;
  }
  .set {
    text-align: center;
    position: relative;
    top: 22px;
    margin: 10px auto;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }
  
  .instrument {
    outline: none;
    font-size: 40px;
    font-family: 'Arvo', cursive;
    line-height: normal;
    font-weight: 900;
    color: #dcf02e;
    border: ridge thick #F0E68C;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    margin: 0;
    background-color: #CD7F32;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.1s ease-in-out;
  }

  .instrument:hover{
    transform: scale(1.05) rotate(2deg);
  }
  